<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1><center>What city you want the weather for chief?</center></h1>
    <div class="container">
    <% if(weather !== null){ %>
    <img src=<%= weather.img %> style="max-width: 300px">
    <table class="day">
        <tbody>
            <tr>
                <td><h2><%= weather.city %></h2></td>
            </tr>
            <tr>
                <td><h3 style="margin:0%"><%= weather.message %></h3></td>
            </tr>
            <tr>
                <td><h3 style="margin:0%">Current: <%= weather.temp.now %>&deg;F</h3></td>
            </tr>
            <tr>
                <td><h3 style="margin:0%">Hi: <%= weather.temp.max %>&deg;F</h3></td>
            </tr>
            <tr>
                <td><h3 style="margin:0%">Low: <%= weather.temp.min %>&deg;F</h3></td>
            </tr>
        </tbody>
    </table>
    <% } %>

    <% if(error !== null){ %>
    <div><%= error %></div>
    <% } %>
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
      </fieldset>
    </div>
  </body>
</html>
